* {
    margin: 0;
    padding: 0
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url(./static/background.jpeg);
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    width: 80px;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid rgb(151, 8, 8);
    background-color: white;
    font-family: 'Bebas Neue', cursive;
}

.press {    
    box-shadow:0px 0px 10px 1px rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border: none
}

label {
    font-size: 30px;
}